[submodule "themes/ezhil"]
	path = themes/ezhil
	url = git@github.com:vividvilla/ezhil.git
[submodule "mohamedhafezqo.github.io"]
	path = mohamedhafezqo.github.io
	url = git@github.com:mohamedhafezqo/mohamedhafezqo.github.io.git
